#up {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 5%;
	inset-inline: 0;
	margin-inline: auto;
	/* background-color:red; */
	fill: #1d2025;
	transition: transform 100ms ease-in-out;
}

#up:hover {
	transform: scale(1.2);
	fill: #15171b;
}
#up:active {
	transform: scale(0.9);
	fill: #3f4551;
}

#down {
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: 5%;
	inset-inline: 0;
	margin-inline: auto;
	fill: #1d2025;
	transition: transform 100ms ease-in-out;
	transform: rotate(180deg);
}

#down:hover {
	transform: scale(1.2) rotate(180deg);
	fill: #15171b;
}
#down:active {
	transform: scale(0.9) rotate(180deg);
	fill: #3f4551;
}

#sliderContainer {
	display: grid;
	place-content: center;
	position: absolute;
	height: 80vh;
	width: 6vw;
	border-radius: 10000em;
	inset: 0;
	margin: auto;
	background: linear-gradient(45deg, #24282f, #2b2f38);
	box-shadow: 10px -10px 20px #131518, -10px 10px 20px #3d4350;
}

#rangeWrap {
	position: relative;
	width: 60vh;
	padding: 1.5em 0; /*  Giving more room for hover  */
	transform: rotate(270deg);
}

/* Custom Bar */
#rangeWrap::before {
	content: '';
	-webkit-box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.4);
	background: rgb(40, 44, 48);
	background: linear-gradient(90deg, rgba(40, 44, 48, 1) 15%, rgba(95, 104, 122, 1) 40%, rgba(95, 104, 122, 1) 60%, rgba(40, 44, 52, 1) 85%);
	width: 100%;
	height: 8px;
	display: block;
	position: absolute;
	border-radius: 4px;
	top: 50%;
	transform: translateY(-50%);
	transition: height 100ms ease;
}

#rangeWrap:hover::before {
	height: 10px;
}

/*  Hide Original */
#range {
	width: 100%;
	cursor: pointer;
	opacity: 0;
}

#bubble {
	background: hsl(218, 12%, 30%);
	/* border: 3px solid hsl(218, 12%, 20%); */
	position: absolute;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none; /* Remove pointer events on Bubble so user can click on the actual thumb beaneath it!  */
	color: transparent;
	display: grid;
	place-items: center; /*  Place the number on the center  */
	font-weight: bold;
	transition: color 100ms ease, transform 100ms ease;
	user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}

#rangeWrap:hover #bubble,
#rangeWrap:focus #bubble {
	color: hsl(218, 12%, 60%);
	transform: translateY(-50%) scale(1.5) rotate(90deg);
	padding: 0.1em;
}

.hover #bubble {
	color: hsl(218, 12%, 60%);
	transform: translateY(-50%) scale(1.5) rotate(90deg);
	padding: 0.1em;
}
