@keyframes bounce {
	100% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
	}
	40% {
		transform: scale(0.85);
	}
}

:root {
	--primary: #282c34;
	--secondary: hsl(220, 13%, 28%);
	--tertiary: hsl(220, 13%, 8%);
	--text-color: hsl(220, 13%, 50%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

body {
	background-color: var(--primary);
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}

#center {
	background-color: rgb(54, 54, 54);
	border-radius: 10px;
	border: solid hsl(220, 13%, 15%) 10px;
	box-shadow: 15px -15px 19px #181b20, -15px 15px 19px #383d48;
	box-sizing: content-box;
	height: min(80vmin, 60vw);
	inset: 0;
	margin: auto;
	overflow: hidden;
	position: fixed;
	width: min(80vmin, 60vw);
}

#board {
	background-color: rgba(0, 0, 0, 0);
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	height: 100%;
	inset: 0;
	position: absolute;
	transform-origin: 0 0;
	transition: gap 500ms ease-in-out;
	width: 100%;
}

#top {
	display: grid;
	height: calc((100vh - 80vmin) / 2);
	place-content: center;
	position: absolute;
	top: 0;
	width: 100vw;
}

#left {
	background-color: re;
	display: grid;
	height: 100vh;
	left: 0;
	place-content: center;
	position: absolute;
	width: calc((100vw - 80vmin) / 2);
}

.bounceAnim {
	animation: bounce 300ms;
}

#genTitle {
	color: var(--secondary);
	font-size: 2rem;
	position: relative;
	text-align: center;
	text-shadow: 4px 4px 5px black;
	white-space: nowrap;
	z-index: 2;
}

.place {
	background-color: white;
	border-radius: 10%;
	height: 100%;
	transition: border-radius 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	width: 100%;
}

.place:hover {
	transform: scale(1.05);
}

#right {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 5%;
	position: absolute;
	right: 0;
	width: calc((100vw - 80vmin) / 2);
}

.controls {
	background: linear-gradient(145deg, #2b2f38, #24282f);
	border-radius: 100px;
	box-shadow: 7px 7px 14px #1b1d23, -7px -7px 14px #353b45;
	color: var(--text-color);
	font-size: 1.5vw;
	font-weight: bold;
	height: 4vh;
	margin-block: 5%;
	padding: 5%;
	position: relative;
	transition: background-color 100ms ease-in-out;
	transition: transform 100ms ease-in-out;
	white-space: nowrap;
	width: 10vw;
}

.controls p {
	inset: 0;
	margin: auto;
	position: absolute;
	text-shadow: -0px -0px 12px var(--tertiary), 8px 8px 12px rgba(0, 0, 0, 0.08);
}

.controls p:active {
	text-shadow: none;
}

.controls:hover {
	transform: scale(1.1);
}

.controls:active {
	background-color: #15171c;
	background: linear-gradient(145deg, #24282f, #2b2f38);
	transform: scale(1.05);
}

button {
	all: unset;
	cursor: pointer;
}

button:focus {
	outline: none;
}

#bottom {
	bottom: 0;
	display: grid;
	height: calc((100vh - 80vmin) / 2);
	place-content: center;
	position: absolute;
	width: 100vw;
}

#stopMsg {
	color: red;
	font-size: 3rem;
	font-weight: 800;
}

p,
h1,
h2,
h3,
label {
	width: fit-content;
	height: fit-content;
	position: relative;
	pointer-events: none;
}

#fillBucket p {
	color: red;
}

.rainbow {
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#toggleBWText {
	color: black;
}

#fillRandom,
#clear,
#start {
	display: block;
}

#reset,
#prev,
#next,
#play,
#reverse,
#pause,
#stop,
#genTitle,
#stopMsg {
	display: none;
}

input[type='color'] {
	z-index: 5;
	-webkit-appearance: none;
	border-radius: 1000px;
	border: none;
	box-shadow: 7px 7px 14px #1b1d23, -7px -7px 14px #353b45;
	height: 4vh;
	outline: solid white 0px;
	position: relative;
	width: 9vw;
}
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border-radius: 10px;
	border: none;
}

#modalBackground {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	display: none;
	height: 100%;
	inset: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 8;
}
#settingModalText {
	position: absolute;

	font-size: 5rem;
	font-weight: 600;
	margin-block: 1rem;
	inset-inline: 0;
	margin-inline: auto;
}

#keys {
	color: var(--text-color);
	font-size: 1rem;
}

#speedTitle {
	font-size: 2rem;
	inset-inline: 0;
	margin-block: 1rem;
	margin-inline: auto;
	outline: none;
	position: absolute;
	text-align: center;
	top: 10%;
}

#speedInput {
	background-color: var(--primary);
	border-radius: 1rem;
	color: var(--text-color);
	font-size: 2rem;
	height: 5%;
	inset-inline: 0;
	margin-block: 0.5rem;
	margin-inline: auto;
	position: absolute;
	text-align: center;
	top: 16%;
	width: 10%;
}

#resetDef {
	background-color: var(--primary);
	background: linear-gradient(145deg, #2b2f38, #24282f);
	border-radius: 1000px;
	display: grid;
	font-size: 1.2rem;
	height: 3rem;
	inset-inline: 0;
	margin-inline: auto;
	place-content: center;
	position: absolute;
	top: 25%;
	white-space: nowrap;
	width: 11rem;
}

#resetDef:hover {
	transform: scale(1.1);
}

#resetDef:active {
	transform: scale(1.05);
}

#ruleSection {
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 5%;
	height: 65%;
	inset-inline: 0;
	margin-inline: auto;
	overflow-y: auto;
	position: absolute;
	width: 80%;
}

.rule {
	align-items: center;
	background-color: var(--primary);
	border-radius: 1rem;
	color: var(--text-color);
	display: flex;
	font-size: 1.5rem;
	inset-inline: 0;
	justify-content: space-evenly;
	margin-inline: auto;
	max-height: 15%;
	min-height: 15%;
	position: relative;
	width: 60%;
}

.rule input {
	background-color: var(--primary);
	border-radius: 1rem;
	box-shadow: 5px 5px 10px #121417, -5px -5px 10px #3e4451;
	color: var(--text-color);
	text-align: center;
	width: 3rem;
}

.operators {
	width: 5%;
	font-size: 1.5rem;
	display: grid;
	place-content: center;
}

.rule input {
	height: 50%;
}

.deadAlive {
	background-color: var(--primary);
	background: linear-gradient(145deg, #2b2f38, #24282f);
	border-radius: 1000px;
	box-shadow: 5px 5px 10px #141619, -5px -5px 10px #3c424f;
	font-size: 1.2rem;
	height: 20%;
	padding: 2%;
	position: relative;
	width: 3rem;
}
.deadAlive:hover {
	transform: scale(1.1);
}

.deadAlive:active {
	background: linear-gradient(145deg, #24282f, #2b2f38);
	transform: scale(1.05);
}

.deadAlive p {
	inset: 0;
	margin: auto;
	pointer-events: none;
	position: absolute;
	text-shadow: -0px -0px 12px var(--tertiary), 8px 8px 12px rgba(0, 0, 0, 0.08);
}

.deadAlive p:active {
	text-shadow: none;
}

.ruleInput {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 60%;
}

.inputSec {
	height: 100%;
	position: relative;
	width: 100%;
}

.inputSec input {
	height: 60%;
	inset-block: 0;
	margin: auto;
	position: absolute;
	right: 15%;
	text-align: center;
	width: 30%;
}

.labelWrap {
	height: 100%;
	left: 0;
	position: absolute;
	width: 45%;
}

.inputSec label {
	font-size: 1rem;
	inset: 0;
	margin: auto;
	position: absolute;
}

.ruleMiddle {
	height: 100%;
	left: 30%;
	position: absolute;
	width: 40%;
}

.middleLeft {
	display: grid;
	height: 100%;
	left: 0;
	place-content: center;
	position: absolute;
	width: 40%;
}
.middleLeft p {
	font-size: 2rem;
	left: 10%;
	position: relative;
	text-align: center;
}

.ruleRight {
	height: 100%;
	position: absolute;
	right: 0;
	width: 30%;
}

#up {
	top: 5%;
}

.btn {
	fill: #1d2025;
	height: 30px;
	inset-inline: 0;
	margin-inline: auto;
	position: absolute;
	transition: transform 100ms ease-in-out;
	width: 30px;
}

.btn:hover {
	transform: scale(1.2);
	fill: #15171b;
}

.btn:active {
	transform: scale(0.9);
	fill: #3f4551;
}

#down {
	transform: rotate(180deg);
	bottom: 5%;
}

#sliderContainer {
	background: linear-gradient(45deg, #24282f, #2b2f38);
	border-radius: 10000em;
	box-shadow: 10px -10px 20px #131518, -10px 10px 20px #3d4350;
	display: grid;
	height: 80vh;
	place-content: center;
	position: relative;
	width: 6vw;
}

#rangeWrap {
	padding: 1.5em 0; /*  Giving more room for hover  */
	position: relative;
	transform: rotate(270deg);
	width: 60vh;
}

#rangeWrap::before {
	-webkit-box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.4);
	background: linear-gradient(90deg, rgba(40, 44, 48, 1) 15%, rgba(95, 104, 122, 1) 40%, rgba(95, 104, 122, 1) 60%, rgba(40, 44, 52, 1) 85%);
	background: rgb(40, 44, 48);
	border-radius: 4px;
	box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.4);
	content: '';
	height: 8px;
	inset-block: 0;
	margin-block: auto;
	position: absolute;
	transition: height 100ms ease;
	width: 100%;
}

#rangeWrap:hover::before {
	height: 10px;
}

#range {
	width: 100%;
	cursor: pointer;
	opacity: 0;
}

#bubble {
	background: hsl(218, 12%, 30%);
	border-radius: 50%;
	color: transparent;
	display: grid;
	font-weight: bold;
	height: 1.5rem;
	place-items: center; /*  Place the number on the center  */
	pointer-events: none; /* Remove pointer events on Bubble so user can click on the actual thumb beneath it!  */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: color 100ms ease, transform 100ms ease;
	user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
	width: 1.5rem;
}

#rangeWrap:hover #bubble,
#rangeWrap:focus #bubble {
	color: hsl(218, 12%, 60%);
	padding: 0.1em;
	transform: translateY(-50%) scale(1.5) rotate(90deg);
}

.hover #bubble {
	color: hsl(218, 12%, 60%);
	padding: 0.1em;
	transform: translateY(-50%) scale(1.5) rotate(90deg);
}
