:root {
	--primary: hsl(220, 13%, 18%);
	--secondary: hsl(220, 13%, 28%);
	--tertiary: hsl(220, 13%, 8%);
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	background-color: var(--primary);
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
}

@keyframes bounce {
	100% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
	}
	40% {
		transform: scale(0.85);
	}
}

#center {
	z-index: 0;
	position: fixed;
	width: 80vmin;
	height: 80vmin;
	transform-origin: 0 0;
	border: solid hsl(220, 13%, 15%) 10px;
	border-radius: 10px;
	inset: 0;
	background-color: black;
	margin: auto;
	box-shadow: 15px -15px 19px #181b20, -15px 15px 19px #383d48;
	overflow: hidden;
}

canvas {
	pointer-events: none;
	opacity: 1;
	display: block;
	z-index: 100;
	position: absolute;
	inset: 0;

	margin: auto;
	transition: opacity 500ms ease-in-out;
}

#board {
	transform-origin: 0 0;
	z-index: 1;
	grid-area: board;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 80vmin;
	height: 80vmin;
	background-color: rgba(0, 0, 0, 0);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 3px;
	transition: gap 500ms ease-in-out;
}

#top {
	position: absolute;
	top: 0;
	width: 100vw;
	height: calc((100vh - 80vmin) / 2);
	display: grid;
	place-content: center;
}

#left {
	position: absolute;
	left: 0;
	height: 100vh;
	width: calc((100vw - 80vmin) / 2);
}

.bounceAnim {
	animation: bounce 300ms;
}

#genTitle {
	font-size: 4rem;
	z-index: 100;
	width: fit-content;
	height: fit-content;
	color: var(--secondary);
	text-shadow: 4px 4px 5px black;
	position: relative;
	text-align: center;
}

.place {
	border-radius: 10%;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: white;
	outline: none;
	border: none;
	transition: border-radius 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}

.place:hover {
	transform: scale(1.05);
}
#startBtn {
	margin: 5%;
	outline: none;
	width: 10vmin;
	height: 10vmin;
	background-color: white;
	border-radius: 50%;
	border: none;
	position: absolute;
	transition: transform 100ms ease-in-out;
	right: 2%;
}

#startBtn:hover {
	transform: scale(1.1);
}

#startBtn:active {
	transform: scale(0.9);
}

#right {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	padding: 5%;
	height: 100vh;
	right: 0;
	width: calc((100vw - 80vmin) / 2);
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.controls {
	box-shadow: 7px 7px 14px #1b1d23, -7px -7px 14px #353b45;

	font-size: 1.5vw;
	position: relative;
	font-weight: bold;
	white-space: nowrap;
	color: hsl(220, 13%, 50%);
	background: linear-gradient(145deg, #2b2f38, #24282f);

	width: 10vw;
	height: 4vh;
	margin-block: 5%;
	padding: 5%;
	border-radius: 9999px;
	transition: transform 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
}

.controls p {
	text-shadow: -0px -0px 12px var(--tertiary), 8px 8px 12px rgba(0, 0, 0, 0.08);
	width: fit-content;
	height: fit-content;
	position: absolute;
	inset: 0;
	margin: auto;
}

.controls:hover {
	transform: scale(1.1);
}

.controls p:active {
	text-shadow: none;
}

.controls:active {
	background: linear-gradient(145deg, #24282f, #2b2f38);

	background-color: #15171c;
	transform: scale(1.05);
}

button {
	all: unset;
	cursor: pointer;
}

button:focus {
	outline: none;
}

#bottom {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: calc((100vh - 80vmin) / 2);
	display: grid;
	place-content: center;
}

#stopMsg {
	color: red;
	font-size: 3rem;
	position: relative;
	width: fit-content;
	height: fit-content;
	font-weight: 800;
}

#fillBucket p {
	color: red;
}

.rainbow {
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#toggleBW p {
	color: black;
}

#fillRandom,
#clear,
#start {
	display: block;
}

#reset,
#prev,
#next,
#play,
#reverse,
#pause,
#stop,
#genTitle,
#stopMsg {
	display: none;
}

input[type='color'] {
	box-shadow: 7px 7px 14px #1b1d23, -7px -7px 14px #353b45;
	-webkit-appearance: none;
	border: none;
	position: relative;
	width: 9vw;
	height: 4vh;
	border-radius: 1000px;
	outline: solid white 0px;
}
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border-radius: 10px;
	border: none;
}

#modalBackground {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#settingModal {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 80vw;
	height: 80vh;
	background-color: var(--primary);
	border-radius: 2rem;
}

#settingModalText {
	text-align: center;
	font-size: 5rem;
	font-weight: 600;
	margin-block: 1rem;
}

#speedInput {
	position: absolute;
	inset-inline: 0;
	margin-inline: auto;
	width: 10%;
	height: 5%;
	font-size: 2rem;
	text-align: center;
	margin-block: 0.5rem;
}

#speedTitle {
	margin-block: 1rem;
	text-align: center;
	font-size: 2rem;
	outline: none;
}
#addRuleTitle {
	text-align: center;
	top: 8%;
	position: relative;
	font-size: 2rem;
}

#addRuleBtn {
	position: absolute;
	inset-inline: 0;
	margin-inline: auto;
	width: 10%;
	height: 5%;
	font-size: 2rem;
	text-align: center;
	margin-block: 0.5rem;
	z-index: 100;
	top: 25%;
	background-color: var(--secondary);
	border-radius: 1000px;
	transition: transform 100ms ease-in-out;
}

#addRuleBtn:hover {
	transform: scale(1.1);
}

#addRuleBtn:active {
	transform: scale(0.9);
}

.rule {
	width: 80%;
	height: 10%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	top: 35%;
	border-radius: 1000px;
}
.left {
	position: absolute;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10%;
}

.left > p {
	font-size: 2rem;
	height: fit-content;
	width: fit-content;
	position: relative;
}
.left button {
	width: fit-content;
	height: fit-content;
	padding: 5%;
	position: relative;
	font-size: 1.5rem;
	background-color: red;
	border-radius: 1000px;
}
.left button:hover{
	transform: scale(1.1);
}

.left button:active{
	transform: scale(.9);
}

.middle {
	position: absolute;
	width: 40%;
	height: 100%;
	left: 30%;
	border-left: solid 2px black;
	border-right: solid 2px black;
}
.right {
	position: absolute;
	width: 30%;
	height: 100%;
	right: 0;
}
